<div class="column is-one-third">
  <nav class="panel is-link">
    <p class="panel-heading">
      <%= @contributor.name %>
    </p>
    <div class="panel-block">
      Role: <%= @contributor.role %>
    </div>
    <div class="panel-block">
      Intro: <%= @contributor.intro %>
    </div>
  </nav>

  <div class="container is-pulled-left">
    <%= link_to 'back', root_path, class: "is-family-monospace button is-dark is-outlined"%>
  </div>
  <div class="container is-pulled-right">
    <%= button_to 'delete', contributor_path(@contributor), method: :delete, data: {
        confirm: "Are you sure you want to remove #{@contributor.name}"
      }, class: "is-family-monospace button is-danger is-outlined"%>
  </div>
  <div class="container mr-1 is-pulled-right">
    <%= link_to 'edit', edit_contributor_path(@contributor), class: "is-family-monospace button is-link is-outlined"%>
  </div>
</div>